<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="ded65444-8b72-464f-b649-ebbe083d0cc9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-12-04T10:09:10" updateDate="2018-12-04T11:21:32" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1061" creatorName="Pia Roel" writerName="Pia Roel" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <smallHeadline><![CDATA[This is the smaller headline]]></smallHeadline>
    <coverImage><![CDATA[umb://media/6a529db886774a17894203196fd026cc]]></coverImage>
    <buttonText><![CDATA[Button text]]></buttonText>
    <headline><![CDATA[This is the main headline]]></headline>
  </home>
</root>